<br>
<h2>New ingredient</h2>
<br>
<hr>
<div>
  <label for="name">Name of the Ingredient is:
    <input [(ngModel)]='name' type="text" placeholder="name">
  </label>
  <label for="halal">Ingredient is halal:
    <input [(ngModel)]='halal' type="checkbox" name="halal" id="halal">
  </label>
  <br>
  <div class="d-flex justify-content-center">
    <button [ngStyle]="{margin: '1px'}" (click)='clearIngredient()' class="btn btn-danger">Clear ingredients</button>
    <button [ngStyle]="{margin: '1px'}" (click)='addIngredient()' class="btn btn-primary">Add ingredients</button>
  </div>
</div>
