<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Shopping List</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-6">
          <app-shopping-list-edit (addedIngredients)='addShoppingItems($event)' [ingredients]='ingredients'>
          </app-shopping-list-edit>
        </div>
        <div class="col-6">
          <app-shopping-list (clearList)='clearIngredients()' [selectedIngredients]='selectedIngredients'>
          </app-shopping-list>
        </div>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Recipe Book</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-6">
          <app-recipe-form [ingredients]='ingredients'></app-recipe-form>
        </div>
        <div class="col-6">
          <app-recipe-list></app-recipe-list>
        </div>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Ingredients</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-6">
          <app-ingredient-form (addedNewIngredient)='addIngredient($event)' (addedNewIngredient)='clearIngredients()'>
          </app-ingredient-form>
        </div>
        <div class="col-6">
          <app-ingredient-list-edit (removeIngredients)='replaceIngredients($event)' [ingredients]='ingredients'>
          </app-ingredient-list-edit>
        </div>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
