<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Shopping List</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-6">
          <app-shopping-list-edit (addedIngredients)='addShoppingItems($event)' [ingredients]='ingredients'>
          </app-shopping-list-edit>
        </div>
        <div class="col-6">
          <app-shopping-list [selectedIngredients]='selectedIngredients'></app-shopping-list>
        </div>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Recipe Book</a>
    <ng-template ngbNavContent>Recipe Book</ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
